<section class='index_container'>
<h2>Welcome to user index page</h2>
<ul class='header_ul'>
  <% @users.each do |user| %>
    <li class= 'index_header'>
    <%= render 'share/header', user: user %>   
    </li>
  <% end %>
</ul>
</section>