.index_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.index_header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.header_img {
  display: flex;
}

.header_ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.header_info {
  display: flex;
  flex-grow: 3;
  justify-content: space-between;
  align-items: self-end;
  border: solid;
  padding: 15px 30px;
}

.header_photo {
  height: 120px;
  width: 100px;
  border: solid;
}

.header_counter {
  align-self: flex-end;
  margin: 0;
}

.post_container {
  margin: 5% 10%;
}

.post_header {
  display: flex;
  gap: 15px;
}

.post_img {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.posts_info {
  display: flex;
  flex-direction: row;
  flex-grow: 10;
  justify-content: space-between;
  border: solid;
  padding: 15px 30px;
}

.bio_container {
  border: solid;
  margin-top: 30px;
  padding: 0 2%;
}

.post_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list_element {
  display: flex;
  flex-direction: column;
  border: solid;
  margin-top: 30px;
  padding: 0 2%;
}

.counter_section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5%;
}

.action_section {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  justify-content: center;
  gap: 5%;
}

.button_style {
  border: solid;
  padding: 5px 5px;
  background: #fff;
  box-shadow: 4px 4px 1px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}

.post_comments {
  display: flex;
  flex-direction: column;
  border: solid;
  margin-top: 2px;
  padding: 0 2%;
}

.comments_box_border {
  border: solid;
  margin-top: 2px;
  padding: 0 2%;
}

.comments_header {
  display: flex;
  flex-direction: column;
}

.comments_title {
  margin-bottom: 0;
}

.top_mrg {
  margin-top: 0;
}

.mrg_zero {
  margin: 2px 0 2px 0;
}

.justify_right {
  justify-content: right;
}

.form_style {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 2%;
  align-items: center;
  gap: 10px;
}

.txt_center {
  text-align: center;
}

.textarea_style {
  border: solid;
  border-radius: 5px;
  height: 100px;
}

.input_style {
  border: solid;
  border-radius: 5px;
}

.field {
  margin-bottom: 0.5rem;
}

.actions {
  margin-bottom: 2rem;
}

.field > input {
  width: 100%;
}

/* login page */

.login_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 0;
}

.login_section form {
  width: 50vw;
}

.login_section .field {
  display: flex;
  margin-bottom: 1.5em;
}

.login_section #user_password,
.login_section #user_email {
  border: 2px solid;
  height: 5vh;
  box-shadow: 1px 1px;
}

.email_label,
.password_label {
  display: none;
}

.remember_check_box #user_remember_me {
  width: inherit;
}

.remember_check_box {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.login_btn {
  width: 100%;
  background: transparent;
  height: 6vh;
  box-shadow: 3px 3px;
  margin-top: 2em;
}

.comments_box_border li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}